@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif; 
  size: 10px;
  weight: 300;
  margin: 0;
  padding: 0px;
}

.header {
    background-image: url('/lab-css-recipes-clone/apple-pie/styles/apple-pie.jpg');
    height: 600px;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    position: relative;
    display: flex;
    font-size: 150px;
    text-align: center;
    color: white;
    text-decoration: none;
    align-items: center;
}

#first-section img {
    background-image: url(/lab-css-recipes-clone/apple-pie/styles/recipe-info.png);
    height: 60px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.first-section p {
    font-size: 150px;
}
h1 {
    font-size: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#second-section img {
    background-image: url(/lab-css-recipes-clone/apple-pie/styles/cooking-info.png);
    height: 60px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}

h5 {
    font-size: 20px;
    margin: 80px 10px 80px 10px;
}
.first-text p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 60px 80px 60px;
    text-align: justify;
    
}
.directions-to-cook {
    margin: 100px 10px 50px 10px;
}
#main-block {
    padding: 20px 200px 60px 200px;
}
hr {
}